
body {
  background-color: #31326F;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #FFC93C;
  border-width: 5px;
  width: 12%;
}

h1 {
  color: #DBF6E9;
}

h3 {
  color: #DBF6E9;
}
