body {
  margin: 0;
  text-align: center;
  background-color: #522785;
}

h1 {
  font-size: 5em;
  color: #29abe2;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

p {
  color:#ed1e79;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
}

h2 {
  color: #faa739;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.75em
}

/* unvisited link */
a:link {
  color: #faa739;
}

/* visited link */
a:visited {
  color: #ed1e79;
}

/* mouse over link */
a:hover {
  color: #ed1e79;
}

/* selected link */
a:active {
  color: #29abe2;
}

.NextButton {
  font-size: 2em;
  text-align: center;
  color: #29abe2;
}

.topcontainer {}

.icplogo {
  height: 200px;
}

.logo {}



/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover  {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.Guides {
  margin: 30px;
  font-size: 1.5em;
  font-family: 'Gloria Hallelujah', cursive;
}

.Guide {
  font-family: 'Merriweather', serif;
  color: #7d03ad;
  line-height: 190%;
  font-size: 1.5em;
  width: auto;
}

.list {
  color:#29abe2;
  display: inline-block;
  text-align: left;

}
